.outerContainer {
    overflow-x: visible;
  }
  
.message-container{
    position: relative;
    margin: auto;
    width: 50%;
    height:500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px solid black;
    padding: 10px;
    background-color: black;
}
.button{
   

   
    font-size: 20px;
    background-color: lightskyblue !important;
    font-family: cursive !important;
    height: 40px ;
   
}
.input-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
}
.input{
    
    width: 90%;
    background-color:whitesmoke;
    font-size: 20px;
    font-family: cursive;
    height: 50px;
    border: 2px solid black;
    
  
    
    

    

}
.messages{
   

}

.sender{
    float:right;
    clear: both;
    border : 0.5px solid black;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color:blue ;
    color: oldlace;
    font-family: cursive;
    
    

    
    
    



    

}

.reciever{
    float: left;
    clear: both;
    border : 0.5px solid black;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: grey;
    color: whitesmoke;
    font-family: cursive;
    
    
}

.custom-input{
    
}
   

.card{
   
        width : 80% !important;
        height : 400px !important;
        top : 100px !important;
        background-color: rgb(235, 213, 177) !important;
        
}